/*LAYOUT*/
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  background-size: 100% 120%;
}

table {
  background-image: linear-gradient(-180deg, #EAEAEA 0%, #D9D9D9 100%);
  border: 1px solid #979797;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
  border-radius: 8px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  display: none;
}

#intro {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: 40px solid transparent;
  -webkit-border-image: url(../img/barbedwire.png) 130 ;
  -o-border-image: url(../img/barbedwire.png) 130 ;
  border-image: url(../img/barbedwire.png) 130 ;
}

.eastWall {
  border-right: 2px solid white;
}

.northWall {
  border-top: 2px solid white;
}

.mazeSpace {
  height: 50px;
  width: 50px;
 }

.startPoint {
  background: aqua;
}

.playerSpace {
  background-image: url(../img/playerIcon.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gavelSpace {
  background-image: url(../img/gavel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.minotaurSpace {
  background-image: url(../minotaur.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.idSpace {
  background-image: url('../img/id.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.endSpace {
  background-image: url('../img/plane.png');
  background-color: white;
  background-size: 100%;
  border-bottom: 2px dashed grey;
}

.winning-image {
  display: none;
}

#walterWrapper {
  width:100%;
  text-align: center;
}

#walter, #jail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.keypad {
  /*background: lightgrey;*/
  width: 70px;
  display: block;
  margin: 0 auto;
  /*box-shadow:
  -webkit-box-shadow:  0px 6px 0px 6px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);
  -moz-box-shadow: 0px 6px 0px 6px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);
  box-shadow: 0px 6px 0px 6px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);*/
  margin-bottom: 10px;
  /*border: 1px solid #222;*/
  /*border-top: none;*/
}

.keypad:focus {
  outline: none;
}

.btn-press {
  -webkit-box-shadow:  0px 6px 0px 3px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);
  -moz-box-shadow: 0px 6px 0px 3px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);
  box-shadow: 0px 6px 0px 3px rgba(60,60,60, .95), inset 0px 0px 11px 6px rgba(94,94,94,1);
}

#east, #west {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.instructions, .controls {
  background-color: rgba(0,0,0,0.03);
  border: 2px solid lightgray;
  box-shadow: 12px 12px 4px 1px rgba(0,0,0,0.21);
  border-radius: 2px;
  height: 500px;
  width: 250px;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
}

.instructions {
  background-image: url('../img/badge.png');
  background-position: 50% 63%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.instructions h2 {
  font-family: 'Oswald', sans-serif;
  color: navy;
  text-align: center;
  font-size: 2em;
  padding: 5px 0 20px;
}

.instructions button {
  margin-top: 95%;
}

.instructions p {
  font-family: 'Oswald', sans-serif;
  text-align: justify;
  padding: 0 10px;
  font-size: 1.5em;
}

.controls {
  background-image: url('http://i1209.photobucket.com/albums/cc383/Tcbear108/cages/Jail-Cell-Bars-psd52403.png');
  background-size: 130%;
  background-position: left;
}

.controls h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 3em;
  padding-bottom: 20px;
   -webkit-text-fill-color: #FBC914;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgba(0,0,0,0.70);
  letter-spacing: 1px;
}

.controls img:first-of-type {
  margin-top: 5%;
}

#start, #level2 {
background-image: linear-gradient(-180deg, #EAEAEA 0%, #D9D9D9 100%);
border: 1px solid #979797;
box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
border-radius: 8px;
height: 40px;
width: 130px;
}

#level2 {
  left: 70px;
  display:none;
  position: absolute;
  margin-top: 175px;
  width: 220px;
}

#badgeHollow {
  left: 70px;
  position: absolute;
  display:none;
  width:220px;
  margin-top: 100px;
}

#notoriety {
  display: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-top: 135px;
}

#star {
  width: 50px;
  height: auto;
}
